################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinDeci-BinNum/Debug
/MinDeci-BinNum/.vs/MinDeci-BinNum/v17
/ToLowerCase/Debug
/ToLowerCase/.vs/ToLowerCase/v17
/.vs
